[access]
	inheritFrom = Public-Plugins
[submit]
	action = inherit
[access "refs/*"]
	owner = group plugins-analytics
	owner = group plugins-analytics-wizard
	forgeCommitter = group plugins-analytics
	forgeAuthor = group plugins-analytics
[project]
	description = Wizard to provision a new GerritAnalytics stack
